## **Basics**

In [ ]:
print("Hello Everyone")

Hello Everyone

In [3]:
type("Hey guys its the python basics notebook")
type(153.0)
type(153)
type({"hello","hy",56})

set

In [ ]:
4/3

1.3333333333333333

In [ ]:
4//1

4

In [ ]:
5//2

2

In [ ]:
1//4

0

In [ ]:
8%9

8

In [ ]:
5**3
5**2

25

In [ ]:
y="Tree"
y
x="five"

In [ ]:
"hello" +" there are "+ x +" "+ y

'hello there are five Tree'

In [ ]:
print((3<2))

False

In [ ]:
"Hello"=="hello"
if (550>80):
  print(100)
print(11)

100
11

In [ ]:
if("Help"=="help"):
  print("wow")
else:
  print("oouch")

oouch

In [ ]:
grocery_list=["banana","kg apple","2 kg sugar"]
type(grocery_list)

list

In [ ]:
grocery_list.append("milk")
print( grocery_list)

['banana', 'kg apple', '2 kg sugar', 'milk']

In [ ]:
grocery_list.remove("banana")
print(grocery_list)

['kg apple', '2 kg sugar', 'milk']

In [ ]:
grocery_list.insert(1,"tea seeds")
print(grocery_list)

['kg apple', 'tea seeds', '2 kg sugar', 'milk']

In [ ]:
grocery_list.sort()
print(grocery_list)

['2 kg sugar', 'kg apple', 'milk', 'tea seeds']

In [ ]:
grocery_list.reverse()
print(grocery_list)

['tea seeds', 'milk', 'kg apple', '2 kg sugar']

In [ ]:
grocery_list.pop(1)
print(grocery_list)

['tea seeds', 'kg apple', '2 kg sugar']

In [ ]:
grocery_list.remove("banana")
print(grocery_list)

['kg apple', '2 kg sugar']

In [ ]:
grocery_list.count("e")
print(grocery_list)
grocery_list.extend([5,10,11,5,5,"namkeen"])
print(grocery_list.count(5))
print(grocery_list)

['tea seeds', 'kg apple', '2 kg sugar']
3
['tea seeds', 'kg apple', '2 kg sugar', 5, 10, 11, 5, 5, 'namkeen']

In [ ]:
team = "RCB ***,* (^_^)"
team.split(",")
team.split("B")

['RC', ' ***,* (^_^)']

## **LOOPS**

In [ ]:
list=["HEY THIS IS ME !","pooja","Jiya", "nisha"]
for i in list:
  print(i)

HEY THIS IS ME !
pooja
Jiya
nisha

In [ ]:
#to count no from 1 to 10
count=1
while count<=10:
  print(count)
  count+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
count=15
while count>=0:
  print(count)
  count-=1

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
n=18
i=1
while(i<=10):
  print(n,"*",i,"=",n*i)
  i=i+1
for i in range(1,11):
  print(1,"*",i,"=",1*i)
  i+=1

18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [ ]:
detail=["HEY THIS IS ME !","pooja","Jiya", "nisha"]
for i,value in enumerate(detail):#enumerate fn: return the objject with index and value
  print(i,value)

0 HEY THIS IS ME !
1 pooja
2 Jiya
3 nisha

In [ ]:
notes=["5 Hundread","2 HUndread ","100","50","20","10","5","2","1"]
for i, value in enumerate(notes):
  print(i,value)

0 5 Hundread
1 2 HUndread
2 100
3 50
4 20
5 10
6 5
7 2
8 1

In [ ]:
#program to check if a number is even or odd
n=int(input("enter n "))
if n % 2==0:
   print(n, "is even")

else:
   print(n,"is odd")

enter n 5
5 is odd

In [ ]:
num=int(input("enter num"))
print("even" if num%2==0 else "odd")

enter num5
odd

In [ ]:
print("positive" if num>0 else "negative" if num<0 else "zero")

positive

In [ ]:
#program to check if a person is eligible to vote (minimum age 18).
age=int(input("enter age"))
print("eligible" if age>=18 else"Not eligible")

enter age25
eligible

In [ ]:
85marks=int(input("enter marks"))
print("Grade A"if marks>=90 else "Grade B" if marks>=75 else "Grade C" if marks>=50 else "Fail" )

enter marks58
Grade C

In [ ]:
m=int(input("enter m"))
n=int(input("enter n"))
o=int(input("enter o"))
max(n,m,o)

enter m78
enter n87
enter o95

95

In [ ]:
p,q,r=map(int,input("enter p, q, r : separated with spaces" ).split())
print("max is ",max(p,q,r))
for marks in p,q,r:
  print("Grade A"if marks>=90 else "Grade B" if marks>=75 else "Grade C" if marks>=50 else "Fail" )

enter p, q, r : separated with spaces78 589 85
max is  589
Grade B
Grade A
Grade B

In [ ]:
m, n, o = map(int, input("Enter m, n, o separated by spaces: ").split())
max_value = max((m, "m"), (n, "n"), (o, "o"))  # Pair each value with its variable name
print(f"Maximum is {max_value[0]} by {max_value[1]}")

Enter m, n, o separated by spaces: 54 58 52
Maximum is 58 by n

In [ ]:
year=int(input("enter year"))
print("leap year "if year%4==0 and year%100!=0 or year%400==0  else"not a leap year")

enter year2597
not a leap year

## **Function**

In [ ]:
def fn_name():
  print("hello")
fn_name()

hello

In [ ]:
def sum(a,b):
  print("the sum is ",a+b)
sum(78,77)
sum(99,1)

the sum is  155
the sum is  100

In [ ]:
def sum1(*num):#variable length argument : used when we not know how many argument are ther to pass

  return sum(num)
print(sum1(6796,48,25,65))

TypeError: sum() missing 1 required positional argument: 'b'

In [ ]:
def product(a,b): print("product is ",a*b)
product(456,58)

product is  26448

In [ ]:
def greet(*name):
  if not(name):
    return  "hey guest , have a good day"
  else:
    return " hey "+ " and ".join(name)+" have a good day"
greet(("ajay"))

' hey ajay have a good day'

In [ ]:
def average(*num):
  average=sum(num)/len(num)
  return average
(average(5,87,10))

TypeError: sum() missing 1 required positional argument: 'b'

In [ ]:
def factorial(num):
  if num ==0:
    return 1
  else:
    return num*factorial(num-1)
print(factorial(5))

In [ ]:
def factorial(num):
  factorial=1

  for i in range(1,num+1):
    factorial=factorial*i
    return factorial
print(factorial(5))

## **Recursion**

## **Control flow statements**

In [ ]:
for i in range(1,11):

  print(i)
  if i==7:
    break

1
2
3
4
5
6
7

In [ ]:
for i in range(1,11):
  if i%3!=0:
    print(i)
    continue

1
2
4
5
7
8
10

In [ ]:
for i in range(10):
    if i == 5:
        # This is an example of 'break'
        print("Break at", i)
        break
    elif i % 2 == 0:
        # This is an example of 'continue'
        print("Skipping even number:", i)
        continue
    else:
        # For odd numbers other than 5
        print("Odd number:", i)

Skipping even number: 0
Odd number: 1
Skipping even number: 2
Odd number: 3
Skipping even number: 4
Break at 5

In [ ]:
i=1
for i in range(1,21):
  if(i%5=0):
  print("divisible by 5")
  break

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-4-c1b8fbb09541>, line 3)

In [ ]:
i=1

while i<11:

  if i%2==0:
    pass
  else:
    print(i)
  i=i+1

1
3
5
7
9

In [ ]:
for i in range(1,21):
  if i%2==0:
    continue
  elif i==15:
    break
  else:
    print(i)
else  :
    print("Loop completed successfully")

1
3
5
7
9
11
13

## **Strings**

In [ ]:
string=input("enter the string :")
print(string[:len(string)-1])
print(string[1::2])

enter the string :Jasmine
Jasmin
amn

In [ ]:
#To reverse a given string
string=input("enter the string :")
print(string[::-1])

enter the string :hello
olleh

In [ ]:
#to find the occurence of a character
str=input(("enter str: "))
to_count=input(("enter char to count"))
count=str.count(to_count)
print("the count of the char",to_count ,"is : ",count)

enter str: programming
enter char to counte
the count of the char e is :  0

In [ ]:
#To check for palindrome
str=input("enter str : ")
reverse=str[::-1]

if str==reverse:
  print("palindrome")
else:
  print("not palindrome")

enter str : madam
palindrome

In [ ]:
#to remove all the vomels from a string
str=input("enter str:")
new=str.replace("a","").replace("e","").replace("i","").replace("o","").replace("u","")
print(new)

enter str:rahagir
rhgr

In [ ]:
#calculating the length of the string withot using len()
str=input("enter str:")
for i , val in enumerate(str):
  i,val
len=i+1
print(len)

enter str:help
4

In [ ]:
#string to list
str=input("enter str:")
list=str.split()
print(list)

enter str:hey guys , hope u r fine
['hey', 'guys', ',', 'hope', 'u', 'r', 'fine']

In [ ]:
#concatinating 2 str without + operator
str1=input("enter str: ")
str2=input("enter str: ")
new=" ".join([str1, str2])
print(new)

enter str: hy
enter str: bro
hy bro

## **Dictionary**

In [ ]:
my_dict={1:"name",2:"two",3:"three"}
print(my_dict)

{1: 'name', 2: 'two', 3: 'three'}

In [ ]:
my_dict=dict(one="name",two="hlep",three="three")
#dict() fn take only strings as key
print(my_dict)
#accesing the value associated with two

print(my_dict["two"])
#alternate using get() fn
print(my_dict.get("two"))

{'one': 'name', 'two': 'hlep', 'three': 'three'}
hlep
hlep

In [ ]:
dictionary=dict(name="arzo",age=19,place="mumbai")
print(dictionary)
dictionary.get("name\n")
print("\n")
dictionary.items()
dictionary.keys()
dictionary.values()
len(dictionary)
for key,value in dictionary.items():
  print(f"the value for the corresponding key {key} is {value}")
dictionary["age"]=20
print(dictionary)
dictionary["hobby"]="coding"
print(dictionary)
dictionary.pop("hobby")
print(dictionary)
dictionary["dance"]="Hip Hop"
print(dictionary)
del dictionary["dance"]
print(dictionary)

{'name': 'arzo', 'age': 19, 'place': 'mumbai'}


the value for the corresponding key name is arzo
the value for the corresponding key age is 19
the value for the corresponding key place is mumbai
{'name': 'arzo', 'age': 20, 'place': 'mumbai'}
{'name': 'arzo', 'age': 20, 'place': 'mumbai', 'hobby': 'coding'}
{'name': 'arzo', 'age': 20, 'place': 'mumbai'}
{'name': 'arzo', 'age': 20, 'place': 'mumbai', 'dance': 'Hip Hop'}
{'name': 'arzo', 'age': 20, 'place': 'mumbai'}

In [ ]:
N=dict(Name="Nisha"),Age=12,Marks=00)
print(N)

{'Name': 'Nisha', 'Age': 12, 'Marks': 0}